* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Theme */
:root {
  --color-main: #cebea4;
  --color-accent: #f43f5e;
  --color-background: #0d0d0d;
  --color-outline: #1e1e1e;
  --color-white: #ffffff;
  --color-placeholder: #635c52;
  --color-divider: #857c6b3d;
}

html {
  font-family: "Inter", sans-serif;

  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
  color: var(--color-main);
}

body {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Header */
.header {
  max-width: 75rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 0.05px solid var(--color-divider);
}

/* Header Box */
.header-box {
  width: 70rem;
  height: 18rem;
  max-height: 20rem;
  padding: 6rem 8rem;
  border: 2px solid var(--color-main);
  border-radius: 4rem;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acrud-name {
  font-family: "Oswald", sans-serif;
  font-size: 5.4rem;
  color: var(--color-accent);
}

.acrud-name span {
  color: var(--color-main);
}
.task-counter {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-accent);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Task Input Form */
.task-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-input {
  width: 90%;
  height: 4.8rem;
  padding: 2rem;
  outline: var(--color-main);
  border: 2px solid var(--color-main);
  color: var(--color-main);
  border-radius: 1.4rem;
  background: var(--color-outline);
  font-size: 1.4rem;
  font-weight: 600;
}

.add-icon {
  height: 2rem;
}

.btn-input {
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.task {
  max-width: 80rem;
  max-height: 10rem;
  padding: 1.4rem;
  border: 2px solid var(--color-main);
  color: var(--color-main);
  border-radius: 1.4rem;
  background: var(--color-outline);
  font-size: 1.4rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-select {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-accent);
  background-color: var(--color-outline);
}

.completed {
  background-color: var(--color-accent);
}

.update-delete {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.task-icon {
  width: 2rem;
}
