* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color Theme */
:root {
  --color-main: #cebea4;
  --color-accent: #f43f5e;
  --color-accent-hover: #e33753;
  --color-shadow: #f43f5d86;
  --color-shadow-hover: #f43f5dab;
  --color-background: #0d0d0d;
  --color-outline: #1e1e1e;
  --color-white: #ffffff;
  --color-placeholder: #635c52;
  --color-divider: #857c6b3d;
  --color-form-input: #27272a;
}

html {
  font-family: "Inter", sans-serif;

  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
  color: var(--color-main);
}

body {
  background-color: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

/* Navbar */
.container {
  width: 100vw;
  position: relative;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin-bottom: 6rem;
}

.acrud-nav-name {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  color: var(--color-accent);
}

.acrud-nav-name span {
  color: var(--color-main);
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.btn {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 1.8rem;
  color: var(--color-white);
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 1px 1px 15px var(--color-shadow);
}

.btn-login {
  border: 1.6px solid var(--color-accent);
  background: var(--color-background);
}

.btn-login:hover {
  border: 1.6px solid var(--color-accent-hover);
  box-shadow: 2px 2px 25px var(--color-shadow-hover);
}

.btn-signup {
  background: var(--color-accent);
  border: 1.6px solid var(--color-accent);
}

.btn-signup:hover {
  background: var(--color-accent-hover);
  border: 1.6px solid var(--color-accent-hover);
  box-shadow: 2px 2px 25px var(--color-shadow-hover);
}

/* App */
.container-app {
  width: 70rem;
  margin: 0 auto;
}

.blur {
  filter: blur(5px) opacity(20%) grayscale(50%);
}

.header {
  max-width: 75rem;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  border-bottom: 0.05px solid var(--color-divider);
}

/* Popups */
.popup {
  width: 40rem;
  height: auto;
  background-color: #1e1e1e;
  padding: 3.6rem;
  border-radius: 0.8rem;
}

.popup-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.close {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-accent);
  cursor: pointer;
}

.header-account {
  font-size: 2.8rem;
  color: var(--color-accent);
}

.form-signup {
  display: flex;
  flex-direction: column;
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.8rem;
}

.label {
  font-size: 1.3rem;
}

.input {
  font-size: 1.4rem;
  height: 3.6rem;
  border-radius: 0.8rem;
  outline: none;
  border: none;
  padding: 1rem;
  background: var(--color-form-input);
  color: var(--color-white);
}

.btn-submit {
  width: 25%;
  background: var(--color-accent);
  border: 1.6px solid var(--color-accent);
}

.btn-submit:hover {
  background: var(--color-accent-hover);
  border: 1.6px solid var(--color-accent-hover);
  box-shadow: 2px 2px 25px var(--color-shadow-hover);
}

.signup-message {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 2.2rem;
}

.signup-message--error {
  color: var(--color-accent-hover);
}
.signup-message--success {
  color: var(--color-white);
}

/* Header Box */
.header-box {
  width: 70rem;
  height: 18rem;
  max-height: 20rem;
  padding: 6rem 8rem;
  border: 2px solid var(--color-main);
  border-radius: 4rem;
  margin-bottom: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acrud-name {
  font-family: "Oswald", sans-serif;
  font-size: 5.4rem;
  color: var(--color-accent);
}

.acrud-name span {
  color: var(--color-main);
}
.task-counter {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-accent);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Task Input Form */
.task-input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#task-input {
  width: 90%;
  height: 4.8rem;
  padding: 2rem;
  outline: var(--color-main);
  border: 2px solid var(--color-main);
  color: var(--color-main);
  border-radius: 1.4rem;
  background: var(--color-outline);
  font-size: 1.4rem;
  font-weight: 600;
}

.add-icon {
  height: 2rem;
}

.btn-input {
  width: 4.5rem;
  height: 4.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.task {
  max-width: 80rem;
  max-height: 10rem;
  padding: 1.4rem;
  margin-bottom: 1.6em;
  border: 2px solid var(--color-main);
  color: var(--color-main);
  border-radius: 1.4rem;
  background: var(--color-outline);
  font-size: 1.4rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-select {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.complete-false {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-accent);
  background-color: var(--color-outline);
}

/* .completed {
  background-color: var(--color-accent);
} */

.update-delete {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.task-icon {
  width: 2rem;
}

#text-true {
  text-decoration: line-through;
  text-decoration-thickness: 1.3px;
}

.complete-true {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent);
}

.update-task-text {
  width: 200%;
  height: 4rem;
  padding: 2rem;
  outline: var(--color-placeholder);
  border: 2px solid var(--color-placeholder);
  color: var(--color-main);
  border-radius: 1.4rem;
  background: var(--color-outline);
  font-size: 1.4rem;
  font-weight: 600;
}

.hidden {
  display: none;
}
